*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    perspective: 10x;
}
#container{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}
.background{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transform: translatez(-40px) scale(5);
    z-index: -1;
    overflow-y: hidden;
}

.foreground{
    position: absolute;
    width: 30%;
    height: ;
    bottom: 0;
    transform: translatez(-20px) scale(3);
    z-index: -1;
    object-fit: cover;
    overflow: hidden;
}
h1{
    position: absolute;
    color: white;
    font-size: 10rem;
    text-shadow: 0,0,10px,rgba(0, 0,0,0.7);
}
